@use './../notice.scss' as n;

.noticeWrite {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &-title {
        height: 5%;

        input {
            display: flex;
            width: 90vw;
            max-width: 1000px;
            padding: 10px;
            @include n.border-bottom(2);
            font-size: 1rem;
        }
    }

    &-content {
        margin-top: 10px;
        width: 90vw;
        max-width: 1000px;
        height: 90%;
    }
    
    &-btn {
        height: 5%;
        width: 100%;
        text-align: right;
        
        span {
            margin-left: 8px;
        }
    }
}

.ql-container.ql-snow {
    height: 100% !important;
}

.editor {
    width: 100%;
    height: 100%;

    &-quill {
        height: 85%;
    }

    &-content {
        height: 90%;
    }

    &-attachArea {
        height: 4%;
    }

    &-attach {
        display: flex;
        width: 100%;
        height: 9%;
        overflow-y: scroll;
        flex-direction: column;
        border: 1px solid n.$light-gray;
        padding: 10px;

        &-info {
            display: flex;
            justify-content: space-between;
            color: n.$medium-gray;
            padding-bottom: 5px;

            &-x {
                margin-left: 5px;
                color: red;
                cursor: pointer;
                font-weight: 900;
            }
        }
    }
    
    p {
        font-family: n.$nanumsquare;
        font-size: 1rem;
    }
}

::-webkit-scrollbar {
    display: none;
}

.ql-toolbar.ql-snow {
    padding: 1%;
}

.ql-container.ql-snow {
    height: 91%;
}

@media screen and (max-width: 660px) {
    .noticeWrite {
        margin-top: 0;
        input {
            padding: 8px;
            font-size: 0.8rem;
        }
    }
    
    .ql-container.ql-snow {
        height: 95% !important;
    }

}