@use './../notice.scss' as n;

.noticeDetail {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        display: flex;
        width: 90vw;
        max-width: 1000px;
        padding: 8px;
        justify-content: space-between;
        @include n.border-bottom(2);
    }

    &-content {
        width: 90vw;
        max-width: 1000px;
        height: 70vh;
        max-height: 1000px;
        margin-top: 10px;

        &-text {
            width: 100%;
            height: 80%;
            padding: 5px;
            @include n.border(1);

            img {
                max-width: 100%;
            }

            div {
                width: 100%;
                height: 100%;
                overflow-y: auto;
                word-break: break-all;
            }
        }

        &-text::-webkit-scrollbar {
            display: none;
        } 

        &-attachArea {
            width: 100%;
            padding: 5px 0;
        }

        &-attach {
            width: 100%;
            height: 14%;
            overflow-y: scroll;
            @include n.border(1);
            padding: 8px 10px;

            &-info {
                display: flex;
                justify-content: space-between;
                color: n.$medium-gray;
                padding: 2px 0;

                span:first-child {
                    cursor: pointer;
                }
            }
        }
    }

    &-btn {
        width: 100%;
        text-align: right;
        
        span {
            margin-left: 8px;
        }
    }
}

.strike {
    text-decoration: line-through;
    pointer-events: none;
}

@media screen and (max-width: 660px) {
    .noticeDetail-title {
        padding: 5px;
        flex-direction: column;
        
        span:last-child {
            color: n.$light-gray;
            margin-top: 5px;
        }
    }
}